/*child combinator*/
div > p {
	background-color: red;
}

/*descendant selector*/
div p {
	color: yellow;
} 

/*general sibling*/
div ~ p {
	background-color: blue;
}

/*adjacent sibling*/
div + p {
	letter-spacing: 20px;
}

/*pseudo class link refers to an unvisited/unclicked link*/
a:link {
	color: red;
}

/*pseudo class visited refers to visited/clicked links*/
a:visited {
	color: yellow;
}

/*hover pseudo class refers to the state of the pointer 
hovering an element*/
p:hover {
	background-color: red;
	color: green;
}
/*active pseudo class refers to the state where the pointer
is currently pressed*/
button:active {
	background-color: red;
	color: white;
	padding: 20px;
}





