/*font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;
}

/*landing page*/
#jumbo-land {
	height: 100vh;
	background-color: #333; /*off-black*/
	padding-top: 20%;
	border-radius: 0; /*to remove rounded corners of jumbotron*/
}

.jumbotron h1 {
	font-family: 'Montserrat', sans-serif;
	color: #f2f2f2; /*off white*/
}

.jumbotron hr {
	background-color: #fff; /*white*/
}

.btn a {
	text-decoration: none;
	color: #fff; /*white*/
}
/*end landing  page*/

/*home page*/
#home-landing {
	background-color: #333;/* off black;*/
	color: #fff; /*white*/
	padding: 20%;
}

#carousel-home {
	height: 90vh;
}

#carousel-home img {
	height: 80vh;
	max-height: 80vh;
}

/*end home page*/


/*about page*/
#jumbotron-about {
	background-color: #141414; /*off black*/
	height: 90vh;
	border-radius: 0;
}

#landing-about {
	color: #f2f2f2; /*white*/
	font-size: 5em; 
	letter-spacing: 5px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 20vh;
}

#mission {
	height: 100%;
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
}

#vision {
	height: 100%;
	background-color:  #f2f2f2;
	color: #141414;
}

.about-tags {
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}

/*end about page*/

/*gallery page*/
#head-gall {
	margin-top: 8%;
	text-transform: uppercase; /*converts the text to uppercase*/
	letter-spacing: 0.5em; /*spacing between letters*/
	background-color: #141414; /*off black*/
	color: #f2f2f2; /*off white*/
}

.active {
	background-color: indianred;
	border-bottom: 3px solid black;
}

.bg-danger, .bg-primary {
	transition: 2s;
}

#gallery-items .card {
	height: 400px;
	margin-bottom: 20px;
}


#gallery-items .card img {
	height: 250px;
	margin-bottom: 50px;
}


/*end gallery page*/


















